<div class="home">
  <div class="container">
    <div class="row">
      <div class="bj-content-wrap clearfix">
        <!--左侧部分-->
        <div class="col-sm-12 col-md-9 bj-skill">
          <div class="bj-content-top">
            <ul class="clearfix">
              <li>
                <span class="fa fa-list-ul"></span>
                <span>技巧</span>
              </li>
              <li>等待回复</li>
              <li>热门</li>
              <li>推荐</li>
              <li class="active">最新</li>
            </ul>
          </div>
          <div class="bj-content-bottom">
            <div class="bj-content-list">
              <a>
                <img src="http://wenda.bootcss.com/static/common/avatar-max-img.png">
              </a>
              <div class="bj-content-summary">
                <h4>
                  <a>Angualr适合用在什么样的项目中？</a>
                </h4>
                <p>2 人关注 • 1 个回复 • 895 次浏览 • 2017-07-23 17:48				</p>
              </div>
            </div>
            <div class="bj-content-list">
              <a>
                <img src="http://wenda.bootcss.com/static/common/avatar-max-img.png">
              </a>
              <div class="bj-content-summary">
                <h4>
                  <a>Angualr适合用在什么样的项目中？</a>
                </h4>
                <p>2 人关注 • 1 个回复 • 895 次浏览 • 2017-07-23 17:48				</p>
              </div>
            </div><div class="bj-content-list">
              <a>
                <img src="http://wenda.bootcss.com/static/common/avatar-max-img.png">
              </a>
              <div class="bj-content-summary">
                <h4>
                  <a>如何实现导航栏在PC端（主要），平板端，手机端都可以实现导航左右移动功能？</a>
                </h4>
                <p>2 人关注 • 1 个回复 • 895 次浏览 • 2017-07-23 17:48				</p>
              </div>
            </div>
          </div>
        </div>
        <!--右侧部分-->
        <div class="col-sm-12 col-md-3">
          <div class="bj-skill-right">
            <div>
              <span>热门话题</span>
              <a>更多&nbsp;></a>
            </div>
            <div>
              <span>热门用户</span>
              <a>更多&nbsp;></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
